# envs + secrets
.venv/
.env
.env.*
!.env.example

# python
__pycache__/
*.py[cod]
.python-version

# dist + build artifacts
dist/
build/
*.egg-info/

# test + coverage
.pytest_cache/
.coverage
htmlcov/

# type + linter
.mypy_cache/
.ruff_cache/

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# data
data/
*.ipynb